html,
body {
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
}

/*Wrapper of form */
#formWrapper {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
}

/*Header div of form*/
#headerDiv {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  width: 100%;
  padding: 30px;
  text-align: center;
}

/*Form of join family*/
#joinFamilyForm {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

/*Instructions to fill the form*/
#instructions {
  font-size: 17pt;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

/*Styles of icon of input field*/
.icon {
  padding: 10px;
  background: gray;
  color: white;
  min-width: 50px;
  text-align: center;
  font-size: 20pt;
}

.modal-header {
  text-align: center;
  padding: 10px;
}

/*General settings for message icon*/
.message-icon {
  background: green;
  padding: 10px;
  color: white;
  min-width: 50px;
  text-align: center;
  font-size: 20pt;
  margin-left: 15%;
  border-radius: 100%;
}

/*Icon for successfull mail sending*/
.success-icon {
  background: green;
}

/*Email could not be sent*/
.error-icon {
  background: red;
}

.modal-footer .link-button {
  color: white;
}

.modal-footer .link-button:hover {
  color: white;
  text-decoration: none;
}

/*Style of submit/reset buttons*/
#confirmBtn {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

/*Styles of footer*/
#sticky-footer {
  flex-shrink: none;
  height: 150px;
  margin-top: 250px;
}

@media (max-width: 370px) {
  p {
    margin-left: 25%;
  }
}
@media (max-width: 600px) {
  #formWrapper {
    width: 90%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 20%;
  }
}

/*Div of message*/
.col-10 {
  padding-top: 3%;
  padding-left: 0;
  margin-left: 0;
}
