html,
body {
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
}

/* Headings and subheadings styles*/
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#upper-Heading {
  font-size: 30pt;
}

#middle-heading {
  font-size: 22pt;
}

header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

/*Login modal style*/
.genericModal {
  width: 335px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/*Styles of icon of input field*/
.icon {
  padding: 10px;
  background: gray;
  color: white;
  min-width: 50px;
  text-align: center;
  font-size: 20pt;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

/*Style of rmemeber me input*/
input[type="checkbox"] {
  transform: scale(1.7);
}

.modal-footer {
  padding-right: 162px;
}

a {
  cursor: pointer;
}

/*Style of forgot password link while hovering*/
a:hover#forgotPassword {
  color: #1f618d;
}

/*Style of create an account link*/
#createAnAccount {
  background-color: transparent;
}

#passwordDiv,
#buttonsGroup {
  margin-top: 10%;
}

/*Style of submit/reset buttons*/
#buttonsGroup button {
  width: 140px;
}

/*Styles of footer*/
#sticky-footer {
  flex-shrink: none;
  height: 150px;
  margin-top: 250px;
}
